h1 {text-align: center;}

div {text-align: center;}

.container2:hover .overlay2 {
  opacity: 1;
}

.text2 {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}


/* grid notes*/
  .floatup:hover {
	  transition-duration: 0.5s;
	  translate: 0px -5px;
	  filter: drop-shadow(0px 5px 10px #0a051c);
	}
	
	
	.gridcontainer {
		display: grid;
		background-color: black;
		grid-template-columns: auto auto auto;
	}




/* .bodyBackgroundExample {
  background-image: url(/images/spacecase.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
*/

.img{
  display: flex;
gap: 5000px;
width:100%;
height:100%;
object-fit:cover;
}

.row {
  display: flex;
}

.resize {
    width:10%; /* you can use % */
    height: 10%;
}

.resize50 {
    width:50%; /* you can use % */
    height: auto;
}


.container img {
    object-fit: contain;
  } 

  
.iconSizing {
    width: 150px; /* you can use % */
    height: auto;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.rightBlock {
  display: block;
  margin-left: auto;
}


.flex {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
  }

  
.flexBox {
    flex: 1;
    margin-right: 20px; 
    justify-content: center; 
    align-items: center;
    display: flex;
    flex-direction: column;

}

.flexCol {
  display: flex;
  flex-flow: column wrap;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}




.sidebar {
  width: 300px;
  height: auto;
  padding: 25px;
  margin: 0 auto; 
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center; 
}


.centerBar {
  width: 600px;
  height: auto;   
  margin: 0 auto; 
  padding: 25px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center; 
}


.leftBar {
  width: 500px;
  height: 750px;
  padding: 25px;
  background: black;
}

.rightBar {
  width: 500px;
  height: 750px;
  margin-left: auto;
    margin-top: auto;
  padding: 25px;
  background: black;
}


.bodyBox {
  width: 400px;
  height: auto;
  margin: 10px;
  padding: 25px;
  background: black;
}


.buttonBox {
  margin-left: 900px;
    margin-top: -400px;
  background: black;

  padding: 25px;
}


a:link {
  color: #848fe6;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #2a316f;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(155, 221, 228);
  background-color: transparent;
  text-decoration: underline;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
   justify-content: center;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.buttonleft {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: left;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

.a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}



@font-face {
    font-family: 'abyss';
    src: url(fonts/abyssal.otf);  
}


.abyss {
font-family: 'abyss';
}


.rec { display: none; }

button {
  background-color: grey;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 10px;
  margin-top: 15px;
  font-size: 17px;
  font-family: abyss;
}

button:hover, button.active { background-color: grey; }


body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.headerboy {
  padding: 30px;
  background-image: url(/images/neighborhood.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% -20%;
text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -px black;
  font-size: 40px;
  color: darkblue;
  text-align: center;
}

.alignbottom {
vertical-align: bottom;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: grey;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #060606;
  margin-top: 20px;
}

#wrapper {
    width:940px;
    margin: 0 auto;
}

header {
    text-align:center;
    padding:70px 0;
}

nav {
    background: #000000;
    height: 60px;
    width: 960px;
    margin-left: -10px;
    margin: 30px;
    line-height:50px;
    position: relative;
}

#content {
    background: #fff;
    height: 1500px; /* presetting the height */
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.fixed {
    position:fixed;
}


/* Search bar  */

.topnav {
  overflow: hidden;
  background: darkred;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
    background: darkred;
    color: black;
}

.topnav a.active {
  background-color: #2196F3;
  background: darkred;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: darkred;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
    background: darkred;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

 /* set the position of dropdown */  
 .dropdown {  
  position: relative;  
}  
/* provide css to background of list items */   
#list-items {  
 display: center;  
 position: center;  
 background-color: white;  
 width: 300px;  
 padding: 10px;
}  

/* provide css to list items */   
#list-items a {  
  display: block;  
  font-size: 18px;  
  background-color: rgb(228, 228, 228);  
  color: black;  
  text-decoration: none;  
  padding: 10px;  
}  

